<script lang="ts">
    import { page } from "$app/stores";

    import "$lib/assets/styles.css";
    import Footer from "$lib/components/Footer.svelte";
    import Header from "$lib/components/Header.svelte";
    import ScrollToTopButton from "$lib/components/ScrollToTopButton.svelte";

    const navbarLinks = [{ path: "/", title: "Domů" }];
</script>

<Header links={navbarLinks} />
<main>
    <section class="menu-description">
        <h1>{$page.status}</h1>
        <p>Stránka nenalezena</p>
    </section>
</main>
<Footer />
<ScrollToTopButton />
