<svg width="19px" height="19px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"
    ><g id="SVGRepo_bgCarrier" stroke-width="0" /><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
    /><g id="SVGRepo_iconCarrier">
        <rect width="48" height="48" fill="white" fill-opacity="0.01" />
        <path d="M20 34L28 42L36 34" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        <path
            d="M12 10H25C26.6569 10 28 11.3431 28 13V42"
            stroke="#ffffff"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </g></svg
>
