<svg
    fill="#e6e6e6"
    height="100px"
    width="100px"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    xml:space="preserve"
    stroke="#e6e6e6"
    ><g id="SVGRepo_bgCarrier" stroke-width="0" /><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
    /><g id="SVGRepo_iconCarrier">
        <g>
            <g>
                <path
                    d="M397.233,359.915h50.055c35.682,0,64.713-29.03,64.713-64.713v-6.776c0-35.682-29.03-64.713-64.713-64.713h-49.126 c-0.002,0-0.005,0-0.007,0h-98.057c0.222,1.12,0.344,2.277,0.344,3.463v47.737l15.547,11.66c3.371,2.527,5.355,6.495,5.355,10.708 v58.092c0,7.393-5.992,13.385-13.385,13.385h-50.329c-7.393,0-13.385-5.992-13.385-13.385v-58.092 c0-4.213,1.984-8.181,5.355-10.708l15.546-11.66v-47.738c0-1.186,0.121-2.343,0.344-3.463H100.057 c-6.498,0-11.766,5.268-11.766,11.766v63.989c0,47.373,21.966,89.61,56.26,117.103H17.649C7.902,416.57,0,424.472,0,434.219 s7.902,17.649,17.649,17.649h52.175l7.722,14.552c13.124,24.732,38.832,40.195,66.83,40.195h216.235 c27.998,0,53.707-15.463,66.83-40.195l7.722-14.552h52.175c9.747,0,17.649-7.902,17.649-17.649s-7.902-17.649-17.649-17.649 H353.66C372.386,401.56,387.429,382.155,397.233,359.915z M409.92,299.468v-40.457h37.367c16.219,0,29.415,13.195,29.415,29.415 v6.776c0,16.219-13.195,29.415-29.415,29.415H407.81C409.191,316.438,409.92,308.04,409.92,299.468z"
                />
            </g>
        </g>
        <g>
            <g>
                <path
                    d="M211.416,132.477c-3.153-10.72-0.957-19.38,6.914-27.249c32.643-32.642,15.262-75.077,1.51-92.953 c-5.942-7.727-17.024-9.172-24.75-3.229c-7.725,5.944-9.172,17.024-3.229,24.75c0.054,0.072,5.605,7.57,8.35,17.454 c4.322,15.558-1.834,24.013-6.841,29.019c-32.99,32.99-15.132,73.598-1.079,90.462c3.491,4.19,8.51,6.35,13.567,6.35 c3.983,0,7.99-1.341,11.289-4.091c7.488-6.241,8.5-17.369,2.26-24.857C219.357,148.07,214.01,141.299,211.416,132.477z"
                />
            </g>
        </g>
        <g>
            <g>
                <path
                    d="M304.703,132.477c-3.152-10.72-0.955-19.38,6.914-27.249c32.643-32.642,15.262-75.077,1.51-92.953 c-5.942-7.727-17.023-9.172-24.75-3.229c-7.725,5.944-9.172,17.024-3.229,24.75c0.054,0.072,5.605,7.57,8.35,17.454 c4.322,15.558-1.834,24.013-6.841,29.019c-32.989,32.99-15.131,73.598-1.079,90.462c3.491,4.19,8.51,6.35,13.567,6.35 c3.983,0,7.99-1.341,11.289-4.091c7.488-6.241,8.5-17.369,2.26-24.857C312.644,148.07,307.298,141.299,304.703,132.477z"
                />
            </g>
        </g>
    </g></svg
>
