<svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    version="1.1"
    id="Layer_1"
    x="0px"
    y="0px"
    width="100"
    height="100"
    viewBox="0 0 55.748398 73.261978"
    enable-background="new 0 0 612 792"
    xml:space="preserve"
    sodipodi:docname="hookah.svg"
    inkscape:version="1.0.2 (e86c870879, 2021-01-15)"
    ><metadata id="metadata94"
        ><rdf:RDF
            ><cc:Work rdf:about=""
                ><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title
                /></cc:Work
            ></rdf:RDF
        ></metadata
    ><defs id="defs92" /><sodipodi:namedview
        pagecolor="#ffffff"
        bordercolor="#666666"
        borderopacity="1"
        objecttolerance="10"
        gridtolerance="10"
        guidetolerance="10"
        inkscape:pageopacity="0"
        inkscape:pageshadow="2"
        inkscape:window-width="2520"
        inkscape:window-height="1408"
        id="namedview90"
        showgrid="false"
        inkscape:zoom="11.313709"
        inkscape:cx="13.570238"
        inkscape:cy="33.362095"
        inkscape:window-x="40"
        inkscape:window-y="0"
        inkscape:window-maximized="1"
        inkscape:current-layer="Layer_1"
        fit-margin-top="0"
        fit-margin-left="0"
        fit-margin-right="0"
        fit-margin-bottom="0"
    />

    <path
        fill="#ed1c24"
        d="m 77.091493,79.567592 c -17.037,-4.268 -38.511,-6.813 -61.848,-6.813 -23.3370001,0 -44.811,2.545 -61.848,6.813 12.629,20.952998 35.54199,24.163468 61.78999,24.163468 26.249,-0.001 49.27701,-3.21047 61.90601,-24.163468 z"
        id="path77"
        sodipodi:nodetypes="csccc"
        style="display:none"
    />
    <g id="g87" transform="translate(-271.45726,-377.60054)" style="fill:#e6e6e6;fill-opacity:1">
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="m 274.234,441.8621 c 2.05115,-2.00853 6.93755,-3.78346 7.61755,-14.54746 0.134,-3.931 0.188,-5.81781 0.0925,-6.9671 0.048,-1.017 -0.054,-1.933 -0.794,-2.703 -0.57,-0.596 -0.479,-1.137 0.017,-1.776 0.4,-0.516 0.771,-0.76 1.469,-0.747 2.819,0.048 5.642,0.053 8.461,0.003 1.08,-0.018 1.157,0.905 1.618,1.45 0.113,0.134 -0.113,0.643 -0.301,0.896 -0.612,0.823 -0.991,1.642 -0.93,2.736 -0.0769,1.2242 -0.11752,4.66717 -0.0257,7.13614 -0.043,9.897 3.7425,12.01209 6.20974,13.89196 0.65329,0.41007 1.15402,0.65808 1.99075,1.04853 1.52453,0.34446 1.43813,0.31798 1.63013,0.32398 0.766,0.024 4.4593,-0.8063 5.02613,-1.09116 3.07028,-1.5417 9.92997,-5.34699 13.75597,-10.97499 4.018,-5.912 4.09054,-7.60868 4.79792,-11.35177 0.37227,-3.57495 0.0592,-5.89447 -0.50337,-7.2892 -1.36412,-3.382 -2.66855,-5.74912 -5.26455,-8.49912 -2.644,-2.802 -5.852,-4.215 -9.782,-3.338 -4.244,0.948 -7.974,2.813 -10.941,6.05 -1.813,1.979 -3.843,3.767 -5.776,5.638 -0.045,0.043 -0.123,0.056 -0.185,0.08 -0.148,-0.114 -0.291,-0.222 -0.425,-0.325 -0.282,0.249 -0.539,0.476 -0.696,0.613 0.19,0.895 0.355,1.669 0.528,2.482 H 281.72 c -0.007,-1.578 0.523,-2.823 1.885,-3.691 0.291,-0.185 0.58704,-0.46073 0.74704,-0.76173 0.42265,-2.28565 0.567,-2.68426 0.225,-12.50526 -0.10554,-2.28163 -0.47748,-2.54836 -1.233,-2.836 h 7.021 c -0.62378,0.25529 -1.086,0.455 -1.187,2.691 -0.467,10.35 -0.35804,10.37299 -0.10704,12.49199 0.218,0.425 0.603,0.77 1.002,1.264 0.317,-0.465 0.721,-0.871 0.647,-0.983 -0.282,-0.434 0.049,-0.583 0.262,-0.775 2.156,-1.948 4.032,-4.161 6.357,-5.964 2.631,-2.039 5.35,-3.863 8.511,-4.997 2.181,-0.782 4.434,-1.254 6.777,-1.042 3.713,0.337 6.539,2.23 8.864,4.929 2.437,2.826 3.76269,5.48768 4.96461,8.95829 0.78883,1.69478 0.85995,4.50843 0.64635,7.97362 -0.69634,3.90298 -1.31904,5.32907 -1.73596,6.56618 -2.089,4.904 -5.047,9.2 -9.407,12.479 -4.088,3.071 -9.07823,5.82996 -14.31823,6.17896 0,0.212 -0.0559,-0.42619 0.0148,0.43846 -0.20537,1.86554 -0.0323,1.74836 -0.65257,3.43058 -0.92,1.484 -2.071,2.441 -4.079,2.415 -7.021,-0.091 -14.042,-0.022 -21.064,-0.059 -0.581,-0.004 -1.245,-0.229 -1.725,-0.556 -1.656,-1.124 -2.409,-2.797 -2.607,-4.696 -0.303,-2.925 0.32528,-1.71846 2.706,-3.6889 z"
            id="path79"
            sodipodi:nodetypes="cccccccccccccscccsccccccccccccccccccccccccccccccscccc"
            style="fill:#e6e6e6;fill-opacity:1"
        />
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="m 300.336,389.35482 h -27.287 c 0.444,1.674 1.179,3.105 2.581,4.135 0.664,0.488 1.391,0.743 2.263,0.738 6.016,-0.027 14.84224,0.41225 18.046,-0.029 3.20376,-0.44125 0.913,-0.161 1.308,-0.365 1.579,-0.819 2.901,-2.763 3.089,-4.479 z"
            id="path81"
            sodipodi:nodetypes="ccccccc"
            style="fill:#e6e6e6;fill-opacity:1"
        />
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="m 284.251,388.95581 h 4.922 c 0,-0.612 -0.005,-1.193 0,-1.772 0.01,-0.951 -0.025,-1.907 0.051,-2.853 0.108,-1.378 0.434,-1.975 1.5,-3.049 h -7.999 c 1.161,0.917 1.505,2.164 1.568,3.487 0.052,1.063 -0.024,2.131 -0.041,3.198 -0.005,0.31 -0.001,0.623 -0.001,0.989 z"
            id="path83"
            sodipodi:nodetypes="cccccccsc"
            style="fill:#e6e6e6;fill-opacity:1"
        />
        <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="m 286.76,380.89917 c 1.283,0 2.565,0.007 3.848,-0.002 0.815,-0.006 1.09,-0.276 1.104,-1.061 0.008,-0.455 0.005,-0.91 -0.01,-1.363 -0.018,-0.545 -0.339,-0.859 -0.88,-0.861 -2.729,-0.015 -5.457,-0.017 -8.186,0.003 -0.548,0.004 -0.837,0.348 -0.839,0.893 -0.002,0.477 -0.015,0.955 0,1.431 0.02,0.678 0.285,0.95 0.976,0.958 1.329,0.012 2.658,0.002 3.987,0.002 z"
            id="path85"
            sodipodi:nodetypes="sccscscccs"
            style="fill:#e6e6e6;fill-opacity:1"
        />
    </g>
</svg>
