<svg
    fill="#e6e6e6"
    height="48px"
    width="48px"
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 377.638 377.638"
    xml:space="preserve"
    stroke="#e6e6e6"
    ><g id="SVGRepo_bgCarrier" stroke-width="0" /><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
    /><g id="SVGRepo_iconCarrier">
        <path
            d="M369.638,342.654H8c-4.418,0-8-3.582-8-8s3.582-8,8-8h361.638c4.418,0,8,3.582,8,8S374.057,342.654,369.638,342.654z M221.536,306.191c-0.061,0-0.121,0-0.181-0.002h-65.074c-0.12,0.003-0.241,0.003-0.361,0H65.65c-4.418,0-8-3.582-8-8s3.582-8,8-8 h82.451V176.98c0-4.418,3.582-8,8-8c0.356,0,0.707,0.023,1.051,0.068c0.349-0.046,0.704-0.07,1.065-0.07h61.204 c0.361,0,0.716,0.024,1.064,0.07c0.344-0.045,0.694-0.068,1.05-0.068c4.418,0,8,3.582,8,8v113.209h82.451c4.418,0,8,3.582,8,8 s-3.582,8-8,8h-90.271C221.657,306.191,221.597,306.191,221.536,306.191z M164.101,290.189h49.435V184.978h-49.435V290.189z M349.218,306.19c-4.418,0-8-3.582-8-8V172.847c0-4.418,3.582-8,8-8s8,3.582,8,8V298.19 C357.218,302.609,353.636,306.19,349.218,306.19z M28.417,306.19c-4.418,0-8-3.582-8-8V172.847c0-4.418,3.582-8,8-8s8,3.582,8,8 V298.19C36.417,302.609,32.836,306.19,28.417,306.19z M311.985,266.57h-42.92c-4.418,0-8-3.582-8-8v-81.596c0-4.418,3.582-8,8-8 h42.92c4.418,0,8,3.582,8,8v81.596C319.985,262.988,316.403,266.57,311.985,266.57z M277.065,250.57h26.92v-32.018h-26.92V250.57z M277.065,202.552h26.92v-17.578h-26.92V202.552z M108.572,266.57H65.65c-4.418,0-8-3.582-8-8v-81.596c0-4.418,3.582-8,8-8h42.922 c4.418,0,8,3.582,8,8v81.596C116.572,262.988,112.99,266.57,108.572,266.57z M73.65,250.57h26.922v-32.018H73.65V250.57z M73.65,202.552h26.922v-17.578H73.65V202.552z M188.817,258.994c-4.418,0-8-3.582-8-8v-17.374c0-4.418,3.582-8,8-8s8,3.582,8,8 v17.374C196.817,255.413,193.236,258.994,188.817,258.994z M359.765,147.177H17.873c-4.418,0-8-3.582-8-8s3.582-8,8-8h341.892 c4.418,0,8,3.582,8,8S364.183,147.177,359.765,147.177z M17.864,116.192c-3.695,0-7.015-2.575-7.816-6.334 c-0.921-4.321,1.835-8.571,6.157-9.492l138.032-29.421V43.751c0-1.891,0.668-3.693,1.846-5.111c1.425-2.2,3.902-3.656,6.719-3.656 h52.601c4.418,0,8,3.582,8,8v28.5l138.003,28.875c4.325,0.905,7.097,5.145,6.192,9.469c-0.905,4.324-5.142,7.099-9.469,6.192 l-134.727-28.19v8.655c0,3.21-1.918,6.109-4.873,7.363l-26.582,11.289c-1.998,0.849-4.256,0.85-6.254,0l-26.583-11.289 c-2.955-1.255-4.873-4.154-4.873-7.364v-9.182l-134.697,28.71C18.977,116.134,18.416,116.192,17.864,116.192z M170.236,91.192 l18.583,7.892l18.582-7.892V78.149c-0.002-0.104-0.002-0.21,0-0.315v-26.85h-37.165v26.281c0.002,0.108,0.002,0.217,0,0.325V91.192z "
        />
    </g></svg
>
