<svg width="100px" height="100px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#e6e6e6"
    ><g id="SVGRepo_bgCarrier" stroke-width="0" /><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
    /><g id="SVGRepo_iconCarrier">
        <g clip-path="url(#clip0_901_2584)">
            <path
                d="M22.4348 4.2617C21.4548 4.5917 20.6078 5.2127 20.0008 6.0287M11.9992 6.0283C11.3932 5.2133 10.5462 4.5913 9.55719 4.2723M9.55719 4.2723C11.0132 2.2913 13.353 1 16 1C18.648 1 20.987 2.291 22.444 4.272C22.937 4.109 23.453 4 24 4C26.76 4 29 6.24 29 9C29 9.501 28.912 9.977 28.773 10.432C30.088 11.086 31 12.431 31 14C31 15.861 29.729 17.426 28.008 17.873M9.55719 4.2723C9.06419 4.1093 8.54698 4 7.99998 4C5.23998 4 2.99998 6.24 2.99998 9C2.99998 9.501 3.08798 9.977 3.22798 10.432C1.91198 11.086 0.999985 12.431 0.999985 14C0.999985 15.868 2.28098 17.437 4.01198 17.877M11.0002 23C11.0002 23 12.0002 24 12.0002 26C12.0002 30 10.0002 31 10.0002 31M21.0002 23C21.0002 23 20.0002 24 20.0002 26C20.0002 30 22.0002 31 22.0002 31M16.0002 30.9902V24.9902M7.07828 17.4033C8.16028 18.9663 9.95529 20.0003 12.0003 20.0003C13.5383 20.0003 14.9373 19.4153 16.0003 18.4623C17.0613 19.4153 18.4613 20.0003 20.0003 20.0003C22.0453 20.0003 23.8403 18.9673 24.9223 17.4033"
                stroke="#e6e6e6"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </g> <defs> <clipPath id="clip0_901_2584"> <rect width="32" height="32" fill="white" /> </clipPath> </defs>
    </g></svg
>
