<svg
    version="1.1"
    id="Vrstva_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="68px"
    height="68px"
    viewBox="0 0 256 241"
    style="enable-background:new 0 0 256 241;"
    xml:space="preserve"
>
    <style type="text/css">
        .st0 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #ffffff;
        }
    </style>
    <g>
        <g id="Vrstva_x0020_1_2_">
            <sodipodi:namedview
                bordercolor="#666666"
                borderopacity="1.0"
                gridtolerance="10.0"
                guidetolerance="10.0"
                id="base"
                objecttolerance="10.0"
                pagecolor="#ffffff"
                showgrid="false"
            />
            <path
                id="path2384_2_"
                class="st0"
                d="M118.89,240.74c-2.35-0.38-4.78-2.21-6.57-4.97c-2.66-4.08-2.86-6.01-0.79-7.51
			c1.4-1.01,3.09-0.83,4.3,0.46c0.33,0.35,1.1,1.52,1.7,2.59c1.58,2.8,2.54,3.5,3.5,2.53c1.07-1.08,1.09-3.26,0.11-16.91
			c-0.91-12.77-0.96-13.66-0.73-14.49c0.7-2.58,3.11-3.61,5.33-2.27c1.51,0.91,1.47,0.71,1.96,9.13
			c1.07,18.14,1.22,22.43,0.81,24.09c-0.38,1.56-1.5,3.65-2.59,4.83c-1.25,1.36-2.52,2.13-4.05,2.45
			C120.56,240.95,120.26,240.96,118.89,240.74L118.89,240.74z M-1.19,237.81c2.2-13.78,4.35-23.16,7.81-34
			c5.39-16.89,13.26-33.07,22.83-46.89c5.52-7.98,10.94-14.45,17.93-21.44c5.48-5.48,9.98-9.38,15.79-13.7
			c34.93-25.99,78.2-32.61,115.27-17.64c19.9,8.04,37.15,21.76,50.98,40.56c9.32,12.67,17.07,27.93,22.76,44.8
			c1.08,3.21,2.19,6.73,2.62,8.32c0.05,0.19-0.63-1.12-1.52-2.91c-7.95-16.06-17.42-29.57-28.93-41.3
			c-12.28-12.51-25.77-21.83-40.72-28.14c-10.76-4.54-20.89-7.13-32.86-8.41c-3.39-0.36-13.15-0.51-16.95-0.26
			c-32.84,2.18-62.15,19.15-81.72,47.34c-13.13,18.91-21.5,42.41-24.59,69.1c-0.2,1.74-0.39,3.19-0.41,3.22
			c-0.15,0.16-4.66,0.42-10.99,0.64c-10.16,0.36-15.56,0.69-16.99,1.05C-1.2,238.2-1.25,238.15-1.19,237.81L-1.19,237.81z
			 M188.07,227.55c-0.63-0.19-1.36-0.85-1.74-1.58c-0.19-0.36-0.36-1.45-0.51-3.12c-0.23-2.61-0.16-5.38,0.29-11.23
			c0.1-1.27,0.16-4.17,0.14-6.43c-0.04-4.57,0.01-4.81,1.09-5.64c0.87-0.67,1.96-0.89,3.07-0.65c1.42,0.32,2.25,1.26,2.46,2.8
			c0.18,1.26,0.18,1.26,1.16,0.42c2.28-1.95,4.3-2.75,6.89-2.73c2.65,0.02,4.42,0.85,5.67,2.67c1.36,1.98,1.76,4.13,1.89,10.16
			c0.05,2.45,0.2,5.15,0.33,6c0.6,3.86,0.81,6.33,0.61,7.06c-0.53,1.94-2.83,3-4.77,2.19c-1.4-0.58-1.68-1.13-2.1-4.15
			c-0.84-5.96-0.89-6.75-0.77-11.66c0.13-4.94,0.06-5.57-0.63-5.79c-1.28-0.41-3.41,1.09-5.05,3.55c-1.9,2.86-2.7,5.42-2.98,9.57
			c-0.45,6.72-0.49,6.98-1.41,7.84C190.86,227.63,189.37,227.93,188.07,227.55L188.07,227.55z M94.8,227.28
			c-3.34-0.32-6.12-1.61-7.66-3.55c-1.41-1.77-2.22-4-2.56-6.98c-0.57-4.96,0.92-9.19,4.42-12.53c2.96-2.83,6.13-4.14,10.09-4.15
			c2.41-0.01,3.87,0.32,6.19,1.41c1.83,0.86,2.77,1.59,3.18,2.49c0.4,0.89,0.4,1.24-0.01,2.05c-0.67,1.32-1,5.71-0.71,9.45
			c0.23,2.94,0.29,3.18,1.6,6.16c0.65,1.49,1.04,2.6,1.02,2.96c-0.04,1.2-1,2.25-2.38,2.62c-1.13,0.3-1.62,0.11-3.53-1.33
			l-0.99-0.75l-1.58,0.69C99.01,227.05,96.93,227.49,94.8,227.28L94.8,227.28z M98.4,221.18c0.76-0.19,2.37-0.99,2.96-1.46
			l0.38-0.31l-0.25-2.06c-0.38-3.07-0.51-7.8-0.26-9.51c0.17-1.17,0.17-1.46-0.02-1.58c-1.58-1.01-5.02-0.01-7.08,2.06
			c-2.47,2.48-3.32,5.46-2.58,8.96C92.28,220.82,94.62,222.14,98.4,221.18L98.4,221.18z M141.93,227.05
			c-2.06-0.54-3.82-1.61-5.35-3.24c-2.26-2.42-3.32-5.38-3.31-9.28c0-3.45,0.76-5.97,2.63-8.77c1.74-2.61,4.17-4.36,7.12-5.14
			c1.75-0.47,5.19-0.52,6.52-0.11c2.9,0.9,4.97,2.79,6.38,5.8c1.62,3.46,1.8,8.64,0.43,12.55c-0.72,2.06-1.74,3.67-3.34,5.27
			c-1.65,1.65-3.16,2.51-5.26,2.98C146.08,227.48,143.49,227.45,141.93,227.05L141.93,227.05z M146.88,220.58
			c1.09-0.34,2.56-1.7,3.12-2.88c0.78-1.65,0.94-4.38,0.41-7.12c-0.65-3.37-3.2-4.75-6.29-3.42c-4.01,1.72-5.51,9.56-2.39,12.43
			C143.24,220.99,144.7,221.27,146.88,220.58L146.88,220.58z M221.91,227.2c-3.9-0.41-6.81-2.3-8.29-5.39
			c-1.08-2.25-1.37-3.72-1.37-7.03c0-2.35,0.06-2.94,0.4-4.11c1.22-4.24,4.64-7.95,8.83-9.59c4.03-1.58,7.67-1.41,11.75,0.53
			c2.76,1.32,3.63,2.8,2.77,4.73c-0.19,0.43-0.43,1.55-0.54,2.55c-0.23,2.06-0.11,7.6,0.19,9.15c0.11,0.57,0.7,2.18,1.32,3.58
			c0.92,2.1,1.1,2.66,1.03,3.2c-0.16,1.2-1.28,2.21-2.73,2.47c-0.93,0.17-2.11-0.41-3.6-1.76c-0.52-0.47-0.14-0.55-3.05,0.66
			c-1.56,0.65-3.78,1.2-4.71,1.17C223.53,227.35,222.63,227.28,221.91,227.2L221.91,227.2z M226.48,221.03
			c0.57-0.18,1.41-0.57,1.89-0.88c0.84-0.56,0.86-0.58,0.85-1.42c-0.01-0.47-0.15-2.47-0.33-4.44c-0.28-3.13-0.29-3.83-0.1-5.55
			c0.12-1.08,0.25-2.07,0.3-2.19c0.15-0.39-1.41-0.74-2.6-0.57c-2.02,0.28-3.34,0.96-4.9,2.56c-1.85,1.89-2.55,3.66-2.55,6.42
			C219.02,220.34,221.68,222.51,226.48,221.03L226.48,221.03z M169.95,226.52c-0.35-0.18-0.83-0.59-1.07-0.91
			c-0.24-0.32-1.39-2.92-2.56-5.79c-1.17-2.87-3.14-7.68-4.39-10.7c-2.41-5.82-2.58-6.47-2.01-7.56c0.59-1.14,1.8-1.82,3.21-1.82
			c1.53,0,2.32,0.55,3.13,2.18c0.58,1.17,2.21,5.25,3.9,9.77c0.78,2.07,1.47,3.83,1.53,3.91c0.14,0.16,1.7-3.4,4.03-9.19
			c0.9-2.25,1.79-4.38,1.98-4.74c1.05-2.06,3.66-2.46,5.43-0.83c1.07,0.98,1.24,1.73,0.74,3.2c-0.66,1.96-4.25,10.1-7.83,17.76
			c-0.66,1.41-1.25,2.78-1.31,3.03c-0.14,0.58-0.86,1.45-1.49,1.78C172.52,226.99,170.73,226.93,169.95,226.52L169.95,226.52z
			 M62.91,226.25c-2.37-0.49-5.22-2.19-6.81-4.05c-2.61-3.06-3.51-5.76-3.34-9.99c0.19-4.66,2.08-9.32,5.73-14.17
			c3.42-4.54,7.07-7.52,10.59-8.66c1.54-0.5,4.44-0.71,6.09-0.46c0.87,0.14,1,0.11,1.75-0.35c1.02-0.63,2.52-0.7,3.42-0.18
			c0.68,0.4,1.28,1.24,1.52,2.1c0.23,0.85,0.52,3.49,0.52,4.73c0,2.59-1.24,4.06-3.42,4.05c-1.57-0.01-2.46-0.64-3.33-2.37
			c-0.24-0.49-0.62-1.01-0.83-1.16c-0.56-0.39-2.64-0.36-3.83,0.06c-3.71,1.3-9.4,8.51-10.9,13.81c-0.3,1.06-0.39,1.83-0.39,3.34
			c-0.01,1.85,0.03,2.04,0.52,3.09c0.64,1.36,1.78,2.56,3.01,3.19c0.71,0.36,1.23,0.49,2.29,0.54c2.57,0.14,4.47-0.55,7.97-2.88
			c2.54-1.68,3.28-2.05,4.21-2.05c2.33-0.01,4.06,2.71,3.01,4.76c-0.85,1.66-5.79,4.86-9.28,6.01
			C68.78,226.51,65.33,226.75,62.91,226.25z M121.27,195.53c-3.47-1.81-2.14-6.79,1.82-6.78c1.23,0,2.03,0.32,2.81,1.1
			c0.75,0.76,1.05,1.48,1.05,2.56C126.95,195.19,123.86,196.88,121.27,195.53z M69.05,184.94c-1.27-0.63-6.5-5.99-7.15-7.32
			c-0.42-0.85-0.45-1.04-0.28-1.55c0.38-1.14,1.47-1.84,2.86-1.84c1.11,0,1.56,0.3,3.2,2.18c0.81,0.92,1.81,2.01,2.22,2.41
			l0.75,0.73l2.36-1.81c2.78-2.13,3.38-2.48,4.29-2.48c0.84,0,1.96,0.54,2.41,1.16c0.51,0.7,0.47,1.93-0.09,2.53
			c-1.26,1.36-7.52,5.83-8.73,6.23C70.11,185.45,70.05,185.44,69.05,184.94L69.05,184.94z M96.38,182.24
			c-0.96-0.3-1.75-1.02-2.27-2.07l-0.46-0.94l0.02-4.17c0.01-2.29,0.09-6.87,0.19-10.17c0.1-3.3,0.24-9.32,0.32-13.37
			c0.16-8.14,0.16-8.15,1.27-9.12c1.33-1.17,3.18-1.17,4.5-0.01c1.08,0.95,1.17,1.28,1.12,4.25c-0.02,1.46-0.13,4.37-0.25,6.47
			c-0.11,2.1-0.15,3.81-0.09,3.81c0.13,0,3.52-3.57,9.35-9.87c2.69-2.91,4.36-4.58,4.78-4.78c0.86-0.41,2.62-0.31,3.28,0.18
			c0.87,0.65,1.46,1.55,1.55,2.35c0.07,0.63-0.01,0.94-0.45,1.77c-1.1,2.04-4.25,5.66-10.17,11.65c-2.43,2.46-4.42,4.52-4.42,4.57
			c0,0.13,6.27,5.98,8.01,7.48c2.46,2.11,3.9,3.1,5.55,3.8c2.35,1,2.91,1.64,2.91,3.34c0,1.46-0.77,2.72-1.94,3.16
			c-1.87,0.71-5.38-0.6-9.07-3.38c-1.59-1.2-2.09-1.65-6.05-5.42l-3.26-3.1l-0.09,5.66c-0.08,4.99-0.12,5.73-0.39,6.28
			c-0.43,0.86-1.11,1.46-1.92,1.68C97.57,182.5,97.22,182.5,96.38,182.24L96.38,182.24z M155.83,181.37
			c-0.29-0.13-0.77-0.53-1.06-0.88l-0.53-0.64l-1.77,0.47c-2.39,0.63-5.64,0.78-7.62,0.35c-3.04-0.67-5.02-2.2-5.92-4.56
			c-0.79-2.08-1.44-8.83-1.3-13.57c0.17-5.76,0.77-8.15,2.24-8.86c1.37-0.67,3.39-0.34,4.34,0.69c0.86,0.94,0.91,1.8,0.37,6.07
			c-0.35,2.71-0.36,3.16-0.18,6.52c0.2,3.74,0.58,6.55,0.94,6.88c0.71,0.66,3.39,0.76,6.35,0.25c1.02-0.18,1.91-0.37,1.97-0.43
			c0.06-0.06,0.12-3.25,0.13-7.09c0.02-6.74,0.18-9.71,0.62-11.2c0.77-2.61,4.95-2.77,6.27-0.23c0.31,0.59,0.31,1.83,0.03,6.43
			c-0.1,1.65-0.16,6.36-0.13,10.46c0.06,8.41,0.09,8.15-1.25,9.04C158.48,181.6,156.7,181.77,155.83,181.37L155.83,181.37z
			 M127.77,180.58c-0.78-0.24-1.46-0.83-1.84-1.6c-0.36-0.73-0.36-0.84-0.36-18.83v-18.09l0.4-0.75c1.04-1.97,4.48-2.14,5.8-0.29
			l0.4,0.56l0.05,17.91c0.05,19.75,0.08,19.08-1.01,20.32C130.47,180.65,129.06,180.97,127.77,180.58L127.77,180.58z M175.47,180.64
			c-1.1-0.14-3.3-0.6-4.06-0.86c-0.73-0.25-0.79-0.24-1.7,0.2c-0.78,0.38-1.09,0.44-1.8,0.36c-1.06-0.13-1.9-0.63-2.39-1.42
			l-0.37-0.6l0.03-16.98c0.03-16.2,0.04-17.02,0.36-18.04c0.38-1.23,1.18-2.29,1.99-2.62c0.83-0.35,2.1-0.3,2.77,0.11
			c1.01,0.61,1.02,0.75,0.93,7.73c-0.07,4.77-0.04,6.32,0.11,6.32c0.11,0,0.64-0.22,1.18-0.49c2.19-1.1,3.16-1.31,5.87-1.3
			c2.23,0.01,2.62,0.05,3.79,0.46c2.68,0.93,4.67,2.49,6.29,4.9c1.8,2.69,2.56,5.58,2.38,9.12c-0.16,3.2-1.06,5.64-2.99,8.1
			c-1.67,2.13-4.42,3.93-6.99,4.59C179.59,180.56,176.64,180.79,175.47,180.64L175.47,180.64z M178.71,174.24
			c1.46-0.28,2.7-1,3.81-2.2c1.55-1.7,2.2-3.89,1.88-6.39c-0.27-2.09-0.81-3.34-2-4.62c-1.72-1.84-4.22-2.27-6.93-1.17
			c-0.8,0.32-2.08,1-2.86,1.5l-1.41,0.91v5.3v5.3l0.63,0.26C174.48,174.23,176.77,174.61,178.71,174.24L178.71,174.24z
			 M216.02,124.27c-9.94-9.25-20.21-16.1-32.06-21.38l-2.57-1.15l-1.43-1.86c-2.88-3.75-5.5-7.74-7.33-11.15
			c-0.85-1.59-0.81-1.59-1.07-2.09c-2.37,0.82-4.85,1.48-8.66,1.68l0.15,0.82c0.17,0.95,1.23,4.4,1.8,5.87
			c0.28,0.71,0.49,1.33,0.49,1.38c-6.6-1.6-15.9-3.2-22.22-3.33c-0.14-0.14,0.87-3.27,1.84-5.89c0.46-1.24,1.14-2.56,1.14-2.65
			c-2.97-1.6-4.98-3.11-7.96-6.14c-0.02,0-1.36,1.34-2.76,2.78c-6.68,6.88-7.73,8.07-9.68,11.01c-0.57,0.85,0.07-0.05-0.94,1.3
			c-38.64,4.76-58.85,16.26-91.35,49.03c-5.68-16.09-6.76-32.01-3.75-48.8c12.52,0.9,24.23,3.38,36.49-0.67
			c5.61-1.85,10.11-4.09,18.44-9.18c11.89-7.26,14.74-8.89,19.91-11.38c6.88-3.31,10.9-4.67,22.69-7.69l3.18-0.76
			c-0.47-1.46-0.69-4.06-0.83-5.87l-1.17-0.02c-2.46,0-6.36,0.83-10.57,2.24c-1.44,0.48-6.12,2.29-10.41,4.01
			c-10.27,4.13-14.66,5.57-19.55,6.42c-8.58,1.5-24.61,1.12-33.1-1.45c-11.49-3.47-15.9-5.28-16.27-5.34
			c0.1-0.24,2.33-4.71,3.3-6.49c1.57-2.87,2.58-4.52,4.69-7.75c7.59-11.55,17.35-21.62,28.81-29.73l2.19-1.55l0.58,0.65
			c2.53,2.83,3.69,4.01,5.13,5.21c4.28,3.59,8.9,5.94,15.07,7.68c2.98,0.84,4.22,1.13,10.76,2.51c10.37,2.19,16.18,4.01,21.77,6.81
			c1.09,0.54,1.82,0.87,2.12,0.97c1.15-2.23,2.52-4.31,4.16-6.25l-1.08-1.02c-3.2-3.03-7.75-5.65-16.98-9.79
			c-13.23-5.92-18.57-9.05-23.75-13.88l-1.8-1.68c6.3-3.04,7.31-3.1,11-4.3c9.14-2.97,17.74-4.61,27.62-5.26
			c5.44-0.36,19.24,0.52,20.57,0.66c0.36,1.74,0.93,3.4,1.46,5.1c2.05,6.57,3.69,14.73,3.69,18.38v0.82
			c2.78-0.25,5.28-0.32,9.19,0.34c0.04-0.11,0.14-0.35,0.23-0.79c0.63-3.12,0.85-8.68,0.55-13.86c-0.11-1.84-0.24-4.18-0.31-5.2
			l-0.11-1.85c3.02,0.74,6.05,1.77,8.97,2.84c5.53,2.01,12.6,5.33,17.57,8.23c4.31,2.52,10.83,6.96,13.24,9.03l0.55,0.47l-3.29,3.16
			c-6.37,6.1-10.06,9.18-14.38,12l-1.51,0.99c1.84,3.18,3.19,6.48,3.84,10.09c1.19-0.36,3.5-1.02,5.59-1.91
			c1.98-0.84,6.29-3,11.57-5.78c3.83-2.02,6.91-3,11.63-5.81c0.47,0.49,3.87,4.57,5.76,7.09c9.77,12.98,16.66,28.17,19.89,43.87
			l0.31,1.52l-0.71-0.66c-0.39-0.36-1.79-1.7-3.11-2.98c-3.23-3.12-4.29-4.02-6.56-5.55c-4.24-2.86-8.9-4.71-14.7-5.82
			c-2.79-0.54-9.52-0.52-16.08-1.25c-6.56-0.71-9.03-2.11-14.23-3.68c-0.64-0.19-1.33-0.46-1.35-0.43c-1.04,2.41-2.26,4.55-3.92,6.7
			c16.19,13.27,37.79,10.12,51.99,27.02c1.6,1.91,3.41,4.39,6.43,8.83c1.6,2.36,3.16,4.64,3.47,5.07l0.55,0.78
			c-0.37,11.67-2.54,26.3-8.63,35.79C233.63,142.63,225.17,132.8,216.02,124.27L216.02,124.27z"
            />
        </g>
    </g>
</svg>
