<svg width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" id="Vrstva_1" data-name="Vrstva 1" viewBox="0 0 434.72 415.81">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
        </style>
    </defs>
    <polygon
        class="cls-1"
        points="236.4 0 234.67 0.09 232.94 0.3 231.26 0.64 229.63 1.17 227.99 1.79 226.44 2.56 224.95 3.42 223.54 4.39 222.24 5.52 221 6.71 219.88 8.04 218.89 9.4 217.98 10.87 217.24 12.42 216.64 13.99 216.14 15.61 215.81 17.3 215.59 18.95 215.52 20.69 215.62 22.37 215.82 24.07 216.22 25.74 216.69 27.32 217.33 28.89 218.1 30.44 218.99 31.89 220 33.28 221.12 34.55 222.35 35.77 223.69 36.87 225.08 37.83 226.6 38.69 228.16 39.44 229.75 40.05 231.43 40.53 233.13 40.86 234.88 41.09 236.6 41.13 238.31 41.05 240.05 40.82 241.73 40.46 243.39 40 245.01 39.39 246.58 38.62 248 37.74 249.45 36.72 250.77 35.64 251.99 34.42 253.1 33.12 254.09 31.77 255 30.3 255.74 28.75 256.34 27.18 256.85 25.52 257.2 23.87 257.4 22.15 257.43 20.46 257.4 18.81 257.18 17.11 256.81 15.43 256.31 13.79 255.67 12.22 254.88 10.7 254.01 9.24 253 7.9 251.84 6.58 250.62 5.39 249.28 4.29 247.88 3.33 246.38 2.44 244.8 1.72 243.21 1.11 241.54 0.63 239.83 0.28 238.12 0.09 236.4 0"
    />
    <path
        class="cls-1"
        d="M178.22,91a10.72,10.72,0,0,1-6.63-19.16,105,105,0,0,1,129.77,0,10.72,10.72,0,1,1-13.24,16.87c-7-5.5-26.21-18.21-52.83-17.87a84.44,84.44,0,0,0-50.46,17.87A10.68,10.68,0,0,1,178.22,91Z"
    />
    <polygon
        class="cls-1"
        points="331.19 206.69 331.98 205.15 332.67 203.55 333.21 201.92 333.57 200.25 333.85 198.52 333.96 196.78 333.96 195.07 333.82 193.37 333.49 191.67 333.09 190 332.49 188.37 331.81 186.83 330.99 185.31 330.02 183.88 328.96 182.59 327.81 181.34 326.51 180.22 325.19 179.19 323.72 178.26 322.21 177.51 320.64 176.84 319 176.34 317.39 175.96 315.71 175.73 313.98 175.62 312.28 175.67 310.57 175.85 308.91 176.18 307.25 176.64 305.62 177.25 304.09 177.98 302.59 178.86 301.15 179.84 299.84 180.91 298.58 182.12 297.45 183.43 296.38 184.83 295.47 186.3 294.69 187.82 294.02 189.45 293.49 191.08 293.06 192.75 292.78 194.46 292.66 196.2 292.71 197.87 292.87 199.63 293.15 201.32 293.6 202.98 294.16 204.59 294.84 206.13 295.65 207.65 296.63 209.07 297.69 210.38 298.87 211.64 300.13 212.77 301.51 213.81 302.96 214.68 304.41 215.47 305.99 216.13 307.63 216.66 309.3 217.04 310.98 217.27 312.69 217.35 314.39 217.33 316.06 217.12 317.77 216.78 319.42 216.31 321.04 215.7 322.57 214.97 324.09 214.12 325.51 213.11 326.83 212.04 328.08 210.83 329.24 209.53 330.25 208.14 331.19 206.69"
    />
    <path
        class="cls-1"
        d="M281.51,110.83a10.73,10.73,0,0,1,19.91,3.84,105,105,0,0,1-64.88,112.38,10.72,10.72,0,1,1-8-19.9c8.27-3.33,28.88-13.59,41.9-36.82a84.37,84.37,0,0,0,9.75-52.63A10.61,10.61,0,0,1,281.51,110.83Z"
    />
    <polygon
        class="cls-1"
        points="105.3 185.82 106.25 187.28 107.29 188.67 108.43 189.96 109.7 191.1 111.05 192.21 112.5 193.17 113.98 194.03 115.53 194.77 117.16 195.32 118.81 195.81 120.53 196.11 122.2 196.29 123.92 196.34 125.64 196.21 127.3 195.94 128.95 195.57 130.57 195.01 132.12 194.37 133.66 193.57 135.07 192.64 136.44 191.61 137.68 190.44 138.82 189.24 139.86 187.9 140.82 186.46 141.63 184.96 142.32 183.39 142.87 181.78 143.3 180.11 143.59 178.4 143.72 176.71 143.71 174.97 143.58 173.24 143.31 171.56 142.89 169.87 142.32 168.23 141.65 166.6 140.83 165.09 139.9 163.65 138.82 162.25 137.68 160.97 136.45 159.77 135.11 158.68 133.66 157.7 132.18 156.91 130.58 156.16 128.98 155.56 127.31 155.12 125.64 154.81 123.96 154.62 122.24 154.57 120.53 154.7 118.87 154.97 117.18 155.36 115.57 155.88 113.99 156.56 112.5 157.38 111.09 158.24 109.73 159.28 108.46 160.44 107.29 161.69 106.25 163.03 105.33 164.47 104.5 165.95 103.84 167.5 103.28 169.16 102.86 170.82 102.58 172.53 102.44 174.22 102.42 175.96 102.59 177.69 102.86 179.37 103.28 181.06 103.83 182.72 104.52 184.29 105.3 185.82"
    />
    <path
        class="cls-1"
        d="M213.17,190.73a10.73,10.73,0,0,1-13.28,15.32A104.95,104.95,0,0,1,135,93.67a10.73,10.73,0,0,1,21.24,3c-1.26,8.82-2.67,31.8,10.93,54.69a84.37,84.37,0,0,0,40.71,34.76A10.7,10.7,0,0,1,213.17,190.73Z"
    />
    <path
        class="cls-1"
        d="M5.79,320.77a10.07,10.07,0,0,0,10,7.42c5.43,0,8.94-3.64,8.94-8s-3.44-6.26-10.39-9.08c-3.57-1.44-6.53-2.48-8.73-4.4a11.57,11.57,0,0,1-3.92-8.8c0-7,5.22-12.38,13.61-12.38a22.52,22.52,0,0,1,12.93,4v8.39h-3.3c-1.65-5.09-4.88-7.71-9.56-7.71-4.33,0-7.63,3-7.63,6.88,0,5.64,3.92,6.4,10.52,8.87,8.12,3,12.1,6.81,12.1,13.62,0,7.91-5.36,13.75-14.57,13.75a25.18,25.18,0,0,1-13.62-4v-8.46Z"
    />
    <path
        class="cls-1"
        d="M41.07,302.82H35.23v-4h5.84v-8.94h5.71v8.94h7.57v4H46.78V322.9c0,4.88.21,5.43,5,5.43h2.55v3.92H50.22c-8.32,0-9.15-.82-9.15-9.08Z"
    />
    <path
        class="cls-1"
        d="M79.45,332.25v-2.2l-.55-.14a11.72,11.72,0,0,1-8.53,3.37,9.47,9.47,0,0,1-9.15-6.12c-1-2.4-.89-5.7-.89-10V298.83H66v20.36c0,6,1,9.28,6,9.28,2.48,0,4.81-1.1,7.5-3.3V298.83h5.77v33.42Z"
    />
    <path
        class="cls-1"
        d="M114,332.25v-2.54l-.69-.28c-2.4,2.55-4.81,3.85-7.84,3.85-7.08,0-12.38-6.25-12.38-17.74,0-11.28,5.23-17.74,12.24-17.74,3,0,5.51,1.24,8,3.78l.69-.14V285.35h5.71v46.9Zm0-26.06c-2.48-2.27-4.75-3.37-7.08-3.37q-7.85,0-7.84,12.79c0,8.46,2.75,12.65,7.84,12.65,2.47,0,4.74-1.17,7.08-3.44Z"
    />
    <path
        class="cls-1"
        d="M133.3,317.12c0,7.43,3.16,11.14,9.35,11.14,3.44,0,6-1.17,9-3.78H154v5.71c-3.92,1.92-7.43,3.09-11.42,3.09-9.9,0-15.27-6-15.27-17.4,0-11.62,5.64-18.08,14.24-18.08,7.36,0,12.45,5,12.45,13.61v5.71Zm15.12-4v-.82c0-6.88-1.65-10.52-7.08-10.52-5.16,0-7.91,3.78-8,11.34Z"
    />
    <path
        class="cls-1"
        d="M167.47,298.83V301l.55.14a11.72,11.72,0,0,1,8.53-3.37c6.4,0,10,3.92,10,12.72v21.73h-5.71V312.17c0-6.53-1-9.56-6-9.56-2.47,0-4.81,1-7.5,3.23v26.41h-5.77V298.83Z"
    />
    <path
        class="cls-1"
        d="M198.63,302.82h-5.85v-4h5.85v-8.94h5.71v8.94h7.56v4h-7.56V322.9c0,4.88.2,5.43,5,5.43h2.54v3.92h-4.13c-8.32,0-9.14-.82-9.14-9.08Z"
    />
    <path
        class="cls-1"
        d="M218.5,324.55a8.75,8.75,0,0,0,7.91,4.4c3.92,0,6.46-2.2,6.46-5.36,0-3.92-2.88-4.68-8.11-6.33-6-2-9-4.75-9-9.63,0-5.5,4.4-9.63,11.9-9.63a26.49,26.49,0,0,1,9.63,2v6.67h-2.69c-1.78-3.3-4.19-4.82-7.56-4.82-3,0-5.5,2.14-5.5,4.89,0,3.71,2.95,4.67,8.11,6.12,5.92,1.72,8.94,5,8.94,9.83,0,6.26-4.74,10.59-11.76,10.59-4.81,0-8.59-1-11.28-2.61v-6.12Z"
    />
    <path
        class="cls-1"
        d="M251.44,285.35v22.56a38,38,0,0,1-.55,6.74l1.38.62a59.61,59.61,0,0,1,3.3-5.37l8-11.07h7l-11.76,14.1v.82a21,21,0,0,1,3.17,4.33l8.66,14.17h-7.15l-7.91-16.09h-1.38l-2.75,3.23v12.86h-5.77v-46.9Z"
    />
    <path
        class="cls-1"
        d="M298.21,332.25H292.5v-3a12.19,12.19,0,0,1-9,3.85c-6.05,0-9.9-4.34-9.9-10.18,0-7.15,5.36-9.9,15.4-11.83l3.51-.62v-2.06c0-4.27-2.13-5.71-6.67-5.71a9.91,9.91,0,0,0-7.64,3.92h-2.75v-6.67A29.21,29.21,0,0,1,285.55,298c8.6,0,12.66,3.58,12.66,11.28ZM292.5,314.3c-8.73,1.72-12.86,3.78-12.86,8.26,0,3.16,2.54,5.63,6.12,5.63,2.34,0,4.47-1,6.74-2.95Zm4.74-31.7a42,42,0,0,0-11.14,8.46h-3.85v-1.31a32.59,32.59,0,0,0,7.7-9.21h7.29Z"
    />
    <path
        class="cls-1"
        d="M343.94,332.25v-2.2l-.55-.14a11.7,11.7,0,0,1-8.53,3.37,9.44,9.44,0,0,1-9.14-6.12c-1-2.4-.9-5.7-.9-10V298.83h5.71v20.36c0,6,1,9.28,6,9.28,2.48,0,4.82-1.1,7.5-3.3V298.83h5.78v33.42Z"
    />
    <path
        class="cls-1"
        d="M365.12,298.83V301l.55.14a11.7,11.7,0,0,1,8.53-3.37c6.4,0,10,3.92,10,12.72v21.73h-5.71V312.17c0-6.53-1-9.56-6-9.56-2.48,0-4.82,1-7.5,3.23v26.41h-5.77V298.83Z"
    />
    <path class="cls-1" d="M400.68,285.35v5.57h-7.29v-5.57Zm-1,46.9h-5.78V298.83h5.78Z" />
    <path
        class="cls-1"
        d="M414,317.12c0,7.43,3.16,11.14,9.35,11.14,3.44,0,6.05-1.17,9-3.78h2.34v5.71c-3.92,1.92-7.43,3.09-11.42,3.09-9.9,0-15.27-6-15.27-17.4,0-11.62,5.64-18.08,14.24-18.08,7.36,0,12.45,5,12.45,13.61v5.71Zm15.13-4v-.82c0-6.88-1.65-10.52-7.09-10.52-5.15,0-7.9,3.78-8,11.34Z"
    />
    <path
        class="cls-1"
        d="M176.62,381.36H173c-2.14-5.71-5.44-8.46-10.66-8.46-7.77,0-11.69,6.25-11.69,19,0,12.17,4.05,18.5,11.69,18.5,5.15,0,8.66-2.82,10.66-8.53h3.64v8.46c-4.74,3.64-9.49,5.5-14.3,5.5-11.69,0-18.16-8.32-18.16-23.93S150.63,368,162.32,368c4.19,0,9,1.72,14.3,5.09Z"
    />
    <path
        class="cls-1"
        d="M188.31,368.91l7.5,27.51a103.81,103.81,0,0,1,2.34,10.79h1a97.67,97.67,0,0,1,2.34-10.79l7.49-27.51h6.88l-14.58,45.87H196l-14.57-45.87Z"
    />
    <path
        class="cls-1"
        d="M228.61,397.24c0,7.15,1.45,13.27,9.7,13.27,7.08,0,9.63-4.26,9.63-13.27V368.91H254v27.92c0,13.07-4.2,19-15.68,19-12.59,0-15.75-7.36-15.75-19V368.91h6.05Z"
    />
    <path class="cls-1" d="M259.77,374.13v-5.22h32.46v5.22H279v40.65h-6V374.13Z" />
    <path
        class="cls-1"
        d="M161.28,359.28a10.91,10.91,0,0,1,6.33-6.87H171v2.13a19,19,0,0,0-6.94,8.39h-7.29c-2.14-4.27-4.75-7.22-6.95-8.39v-2.13h3.44c3.09,1.23,4.95,3.37,6.33,6.87Z"
    />
</svg>
