<svg
    height="100px"
    width="100px"
    version="1.1"
    id="_x32_"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    xml:space="preserve"
    fill="#000000"
    ><g id="SVGRepo_bgCarrier" stroke-width="0" /><g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
    /><g id="SVGRepo_iconCarrier">
        <style type="text/css">
            .st0 {
                fill: #e6e6e6;
            }
        </style>
        <g>
            <path
                class="st0"
                d="M298.156,126.399c0.159-1.118,0.34-2.234,0.34-3.397c0-13.336-10.808-24.152-24.152-24.152 c-13.344,0-24.152,10.816-24.152,24.152c0,0.944,0.174,1.842,0.279,2.755c-64.735,6.747-79.822,43.941-79.822,43.941h211.247 C381.896,169.698,359.827,134.709,298.156,126.399z"
            />
            <path
                class="st0"
                d="M456.035,189.451c-20.778-2.718-36.953,3.6-53.006,11.751c-9.359-11.683-17.261-17.329-17.261-17.329H170.649 c-29.632,3.864-24.363,33.873-47.655,39.926c-32.205,8.37-57.323-54.1-65.693-54.1c0,0-33.488,0-46.372,0 c-12.884,0-12.114,12.627-9.019,16.748c7.729,10.302,26.665,26.688,64.41,92.744c56.674,99.182,135.244,133.96,135.244,133.96 h155.863c0,0,40.9-23.608,62.689-66.199c51.421-7.178,91.816-44.636,91.884-96.427C512,220.237,486.331,193.413,456.035,189.451z M440.51,302.693c-2.74,0.725-5.238,1.117-7.646,1.374c0.332-3.502,0.559-7.056,0.559-10.71c0-21.971-4.038-40.281-9.699-55.361 c6.521-7.547,16.174-12.635,27.413-12.589c16.227,0.084,25.118,13.261,25.118,28.982 C476.278,276.239,458.866,297.862,440.51,302.693z"
            />
        </g>
    </g></svg
>
