<script lang="ts">
    import { page } from "$app/stores";
    import type { PageData } from "./$types";

    import ProductList from "$lib/components/ProductList.svelte";

    export let data: PageData;
</script>

<svelte:head>
    <title>Tabáky | Klub Čajovna</title>
    <meta name="title" content="Tabáky | Klub Čajovna" />
    <meta
        name="description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://klubcajovna.cz/menu/tobacco" />
    <meta property="og:title" content="Tabáky | Klub Čajovna" />
    <meta
        property="og:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="og:image" content="https://klubcajovna.cz/about-photo.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://klubcajovna.cz/menu/tobacco" />
    <meta property="twitter:title" content="Tabáky | Klub Čajovna" />
    <meta
        property="twitter:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="twitter:image" content="https://klubcajovna.cz/about-photo.jpg" />
</svelte:head>

<h1 class="product-title">Tabáky</h1>
<section class="menu-description">
    <p>
        Na přípravě vodních dýmek si dáváme velmi záležet. Rychlozápalné uhlíky nebo nulovou péči o&nbsp;pohodlí vaše a&nbsp;vaší
        dýmky od nás nečekejte. Pro chuťové kombinace se můžete poradit s&nbsp;obsluhou.
    </p>
</section>
<section class="product-list">
    <ProductList
        data={data.products}
        lookup={data.lookup}
        displayFull={$page.url.searchParams.has("full")}
        blame={"Mistr Dýmky"}
    />
</section>
