<script lang="ts">
    import type { LayoutData } from "./$types";

    import "$lib/assets/styles.css";
    import Banner from "$lib/components/Banner.svelte";
    import Footer from "$lib/components/Footer.svelte";
    import Header from "$lib/components/Header.svelte";
    import NavLinks from "$lib/components/NavLinks.svelte";
    import ScrollToTopButton from "$lib/components/ScrollToTopButton.svelte";

    export let data: LayoutData;

    const navbarLinks = [{ path: "/", title: "Domů" }];
    const menuLinks = [
        { path: "/menu/tea", title: "Čaje" },
        { path: "/menu/tobacco", title: "Tabáky" },
        { path: "/menu/coffee", title: "Káva" },
    ];
</script>

<Banner banner={data.banner} />
<Header links={navbarLinks} />
<main>
    <NavLinks links={menuLinks} isMain={false} />
    <slot />
</main>
<Footer />
<ScrollToTopButton />
