<svelte:head>
    <title>Menu | Klub Čajovna</title>
    <meta name="title" content="Menu | Klub Čajovna" />
    <meta
        name="description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://klubcajovna.cz/menu" />
    <meta property="og:title" content="Menu | Klub Čajovna" />
    <meta
        property="og:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="og:image" content="https://klubcajovna.cz/about-photo.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://klubcajovna.cz/menu" />
    <meta property="twitter:title" content="Menu | Klub Čajovna" />
    <meta
        property="twitter:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="twitter:image" content="https://klubcajovna.cz/about-photo.jpg" />
</svelte:head>

<section class="menu-description">
    <p>
        Členové Klubu Čajovna u&nbsp;nás mohou ochutnat širokou řadu čajů při přípravě inspirované čínským čajovým obřadem gongfu
        cha (umění čaje).
    </p>
    <p>
        Nedílnou součástí čajoven v&nbsp;našich končinách jsou i&nbsp;vodní dýmky. Máme pestrý výběr tabákových výrobků,
        připravovaných do prvotřídního dýmkařského arsenálu.
    </p>
    <p>
        Výše členského příspěvku za čaj je uvedená u&nbsp;každé položky v nabídce. Výše členského příspěvku u&nbsp;vodní dýmky je
        220,- Kč. Přijímáme pouze hotovost.
    </p>
</section>
