<script lang="ts">
    import ProductList from "$lib/components/ProductList.svelte";

    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<svelte:head>
    <title>Káva | Klub Čajovna</title>
    <meta name="title" content="Káva | Klub Čajovna" />
    <meta
        name="description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://klubcajovna.cz/menu/coffee" />
    <meta property="og:title" content="Káva | Klub Čajovna" />
    <meta
        property="og:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="og:image" content="https://klubcajovna.cz/about-photo.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://klubcajovna.cz/menu/coffee" />
    <meta property="twitter:title" content="Káva | Klub Čajovna" />
    <meta
        property="twitter:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="twitter:image" content="https://klubcajovna.cz/about-photo.jpg" />
</svelte:head>

<h1 class="product-title">Káva</h1>
<section class="menu-description">
    <p>Připravujeme :-).</p>
</section>
<section class="product-list">
    <ProductList data={data.products} lookup={data.lookup} displayFull={true} blame={"Rondy"} />
</section>
