<script lang="ts">
    import type { LayoutData } from "./$types";

    import "$lib/assets/styles.css";
    import Banner from "$lib/components/Banner.svelte";
    import Footer from "$lib/components/Footer.svelte";
    import Header from "$lib/components/Header.svelte";

    export let data: LayoutData;

    const navbarLinks = [
        { path: "#about", title: "O nás" },
        { path: "#calendar", title: "Kalendář" },
        { path: "#location", title: "Kudy k nám" },
        { path: "#contact", title: "Kontakt" },
        { path: "/menu", title: "Menu" },
    ];
</script>

<Banner banner={data.banner} />
<Header links={navbarLinks} />
<main>
    <slot />
</main>
<Footer />
