<script lang="ts">
    import AboutIntro from "$lib/components/AboutIntro.svelte";
    import Calendar from "$lib/components/Calendar.svelte";
    import Contact from "$lib/components/Contact.svelte";
    import Location from "$lib/components/Location.svelte";
    import OpeningHours from "$lib/components/OpeningHours.svelte";
    import ScrollToTopButton from "$lib/components/ScrollToTopButton.svelte";

    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<svelte:head>
    <title>Vítejte | Klub Čajovna</title>
    <meta name="title" content="Klub Čajovna" />
    <meta
        name="description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://klubcajovna.cz/" />
    <meta property="og:title" content="Klub Čajovna" />
    <meta
        property="og:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="og:image" content="https://klubcajovna.cz/about-photo.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://klubcajovna.cz/" />
    <meta property="twitter:title" content="Klub Čajovna" />
    <meta
        property="twitter:description"
        content="Klub Čajovna je interní zájmový klub Studentské Unie ČVUT. Věnujeme se čajové a dýmkové kultuře."
    />
    <meta property="twitter:image" content="https://klubcajovna.cz/about-photo.jpg" />
</svelte:head>

<section class="home-section">
    <OpeningHours weekData={data.calendar.slice(0, 7)} />
</section>
<section class="about-section" id="about">
    <AboutIntro />
</section>
<section class="calendar-section" id="calendar">
    <Calendar calendarData={data.calendar} />
</section>
<section class="location-section" id="location">
    <Location />
</section>
<section class="contact-section" id="contact">
    <Contact />
</section>
<ScrollToTopButton />

<style>
    .home-section {
        /* min-height: calc(100vh - 321px); */
        margin: 3rem 4rem;
        text-align: center;
    }

    /* about section */
    .about-section,
    .calendar-section {
        background-color: hsl(var(--color-grey-000));
        min-height: 100vh;
    }

    .contact-section,
    .location-section {
        background-color: hsl(var(--color-grey-000));
    }
</style>
