@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Verdana, Tahoma, sans-serif;
	/* font-family: Iosevka Web; */
	/* font-stretch: expanded; */
}

:root {
	--color-grey-base: 0 0%;
	--color-red-base: 0 50%;

	--color-grey-090: var(--color-grey-base) 90%;
	--color-grey-080: var(--color-grey-base) 80%;
	--color-grey-075: var(--color-grey-base) 75%;
	--color-grey-050: var(--color-grey-base) 50%;
	--color-grey-025: var(--color-grey-base) 25%;
	--color-grey-015: var(--color-grey-base) 15%;
	--color-grey-000: var(--color-grey-base) 0%;

	--color-main-red: #660000;
	--color-red-080: var(--color-red-base) 80%;
	--color-red-065: var(--color-red-base) 65%;
	--color-red-050: var(--color-red-base) 50%;

	background-color: hsl(var(--color-grey-000));
	color: hsl(var(--color-grey-090));
	width: 100%;
	height: 100%;
	line-height: 1.5;
}

@media print {
	:root {
		background-color: hsl(var(--color-grey-000));
		color: hsl(var(--color-grey-090));
		width: 100%;
		height: 100%;
		line-height: 1.5;
		print-color-adjust: exact;
	}
}

html {
	font-family: system-ui, sans-serif;
}

/* @media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  }
*/

main {
	/* max-width: 1500px; */
	margin: auto;
	padding: 0;
}

h1 {
	margin: 2rem 0;
}

.main-page {
	min-height: 100vh;
	background-color: hsl(var(--color-grey-000));
	/* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/cajka.jpg') no-repeat center fixed; */
	background-size: cover;
}


/* menu specific elements */
.menu-description {
	max-width: 700px;
	margin: auto;
	padding: 0 1rem 1rem 1rem;
	text-align: center;
}

.menu-description>p {
	margin: 3rem 0;
}

.product-list {
	max-width: 1200px;
	margin: auto;
	padding: 0 1rem 1rem 1rem;
}

.product-title {
	text-align: center;
}

.focused-day {
	animation: glow 0.4s 6 alternate;
}

@keyframes glow {
	from {
		box-shadow: 0 0 3px -3px hsl(var(--color-red-065));
	}

	to {
		box-shadow: 0 0 3px 3px hsl(var(--color-red-065));
	}
}
