<script>
    import DegustationIcon from "./icons/DegustationIcon.svelte";
    import DnkIcon from "./icons/DnkIcon.svelte";
    import HookahIcon from "./icons/HookahIcon.svelte";
    import TeaIcon from "./icons/TeaIcon.svelte";
    import TravelingIcon from "./icons/TravelingIcon.svelte";
    import WorkshopsIcon from "./icons/WorkshopsIcon.svelte";
</script>

<div class="about-intro-section">
    <h1>O nás</h1>
    <div class="about-intro-flex">
        <article>
            <p>
                Klub Čajovna je interní zájmový klub Studentské unie ČVUT. Úzce spolupracujeme s&nbsp;ostatními kluby
                a&nbsp;účastníme se řady akcí pořádaných nejen Studentskou unií nebo ČVUT.
            </p>
            <p>
                Posláním klubu je umožnit příjemné trávení mimoškolního času pro členy SU. Klub je tiché a&nbsp;čisté místo,
                pomáhající nalézt klid mysli a&nbsp;nové vědomosti a&nbsp;zkušenosti v oblasti čajové a&nbsp;dýmkové kultury.
            </p>
            <p>
                Náš klub funguje již od roku 2004. Tehdy byl založen studenty, kteří navštěvovali místní komerční čajovnu.
                Komerční čajovna se však rozhodla skončit své působení, což byl impulz k&nbsp;vybudování studentského klubu
                zaměřeného na čajovou a&nbsp;dýmkovou kulturu.
            </p>
            <p>
                K&nbsp;dnešnímu dni se v&nbsp;členské základně klubu vystřídala řada generací, které stále udržují kontakt se
                svými předchůdci a&nbsp;předávají klub dále.
            </p>
        </article>
        <figure>
            <img src="/about-photo.jpg" alt="Gongfu cha" />
        </figure>
    </div>
    <div class="about-interests">
        <h1>Čím se zabýváme</h1>
        <div class="about-interests-flex">
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <TeaIcon />
                    </div>
                    <div>
                        <h2>Čaje</h2>
                        <p>
                            Naši členové se aktivně zajímají o&nbsp;čajovou kulturu ve světě. K&nbsp;tomu náleží několik desítek
                            čajů různých druhů spolu s&nbsp;bohatou výbavou čajového nádobí.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <HookahIcon />
                    </div>
                    <div>
                        <h2>Vodní dýmky</h2>
                        <p>
                            Nedílnou součástí klubu jsou také vodní dýmky, jejichž nezaměnitelný charakter doplňuje atmosféru
                            v&nbsp;našich prostorech.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <WorkshopsIcon />
                    </div>
                    <div>
                        <h2>Workshopy</h2>
                        <p>
                            Velmi rádi naše zkušenosti a&nbsp;znalosti sdílíme, naši členové tak činí formou workshopů zaměřených
                            jak na přípravu čajů, tak na přípravu dýmek.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <DegustationIcon />
                    </div>
                    <div>
                        <h2>Ochutnávky</h2>
                        <p>
                            Pod vedením našich zkušených členů se tématicky degustují čaje a&nbsp;tabáky různých druhů, většinou
                            méně dostupných v&nbsp;našich končinách.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <TravelingIcon />
                    </div>
                    <div>
                        <h2>Cestovatelské večery</h2>
                        <p>
                            Konají se u nás také cestovatelské večery, kdy naši hosté sdílí zážitky ze svých cest po různých
                            koutech světa.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="interest-flex ">
                    <div class="svg-container">
                        <DnkIcon />
                    </div>
                    <div>
                        <h2>Dýmky na Kopci</h2>
                        <p>
                            Od roku 2017 pravidelně pořádáme dýmkařský sraz v&nbsp;areálu kolejí Strahov. Program bývá doplněn
                            o&nbsp;stánky prodejců a výrobců dýmek a&nbsp;vybavení, workshopy nebo jiné formy zábavy.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    .about-intro-section {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
    }

    .about-interests {
        margin-top: 10rem;
    }

    .about-intro-section p {
        padding: 0.5rem 0rem;
    }

    .about-intro-flex {
        display: flex;
        gap: 2rem;
    }

    .about-intro-flex > * {
        max-width: 50%;
        flex: 1 1 0;
    }

    .about-interests-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;
    }

    .about-interests-flex > * {
        text-align: left;
        flex: 1 1 25%;
        max-width: 33%;
    }

    .interest-flex {
        display: flex;
        gap: 1rem;
    }

    .svg-container {
        padding-top: 2rem;
    }

    @media only screen and (max-width: 768px) {
        .about-intro-flex {
            display: flex;
            flex-direction: column;
        }
        .about-intro-flex > * {
            max-width: 100%;
            text-align: center;
        }

        .about-interests-flex {
            display: flex;
            gap: 2rem;
            flex-direction: column;
        }

        .about-interests-flex > * {
            flex: 1 1 0;
            max-width: 100%;
        }
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        max-width: 100%;
    }
</style>
