<script lang="ts">
    import type { Banner } from "$lib/server/sheetsModels";

    export let banner: Banner | null;
</script>

{#if banner && banner.message.trim()}
    <div class="banner">
        <span>{banner.message}</span>
    </div>
{/if}

<style>
    .banner {
        background-color: var(--color-main-red);
        text-align: center;
        padding: 0.5rem;
    }

    span {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }
</style>
