<script lang="ts">
    import type { CalendarData } from "$lib/server/sheetsModels";
    import CalendarDay from "./CalendarDay.svelte";
    import ReservationNotice from "./ReservationNotice.svelte";

    export let calendarData: CalendarData;
</script>

<div class="calendar-section">
    <h1 class="product-title">Kalendář</h1>
    <section class="menu-description">
        <p>
            Náš klub pravidelně otevíráme příznivcům každý den v týdnu, kromě soboty, výjma zkouškového období a letních prázdnin.
            Konají se u nás také akce na nepravidelné bázi. Veškeré informace o akcích jsou dostupné níže v kalendáři.
        </p>
        <ReservationNotice />
    </section>
    <section class="main-calendar">
        {#each calendarData as day, i}
            <CalendarDay {day} dayInWeek={i} />
        {/each}
    </section>
</div>

<style>
    .calendar-section {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
    }

    .main-calendar {
        max-width: 700px;
        margin: auto;
    }
</style>
