<script lang="ts">
    import type { CalendarDay } from "$lib/server/sheetsModels";

    export let day: CalendarDay;
    export let dayInWeek: number;
</script>

<div class="calendar-day" class:sunday={(dayInWeek + 1) % 7 == 0} class:closed={!day.open} id={day.date}>
    <div class="date">
        <h2>{day.dayOfWeek.slice(0, 2)}</h2>
        <h3>{day.date.slice(0, -5)}</h3>
    </div>
    {#if day.open}
        <div class="description">
            {#if day.type != "Služba"}
                <h4 class="separator">Otevřeno {day.timeFrom + " – " + day.timeTo}</h4>
                <p>
                    {day.type}{#if day.description.trim()}: {day.description}{/if}
                </p>
            {:else}
                <h4>Otevřeno {day.timeFrom + " – " + day.timeTo}</h4>
            {/if}
        </div>
    {:else}
        <div class="description">
            <h4>Zavřeno</h4>
        </div>
    {/if}
    {#if day.link}
        <div class="link">
            <a href={day.link} target="_blank" rel="noreferrer">Odkaz</a>
        </div>
    {/if}
</div>

<style>
    .calendar-day {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 5px;
        background-color: hsl(var(--color-grey-015));
    }

    .closed {
        color: hsl(var(--color-grey-050));
    }

    .sunday {
        margin-bottom: 2rem;
    }

    .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-right: 1px solid hsl(var(--color-grey-050));
        margin: 0.5rem;
        padding-right: 0.5rem;
        min-width: 4.5rem;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1rem;
        padding-left: 0.5rem;
        margin: 0.5rem 0;
        flex: 1 1 auto;
    }

    h2,
    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-weight: 400;
    }

    .separator {
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
        border-bottom: 1px solid hsl(var(--color-grey-050));
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-left: 1px solid hsl(var(--color-grey-050));
        margin: 0.5rem;
        margin-left: 0;
        padding-left: 0.5rem;
        min-width: 4.5rem;
    }
    .link a {
        color: hsl(var(--color-grey-080));
        text-decoration: underline;
    }
    /*
    .link a:hover {
        color: hsl(var(--color-red-080));
    }
    .link a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: hsl(var(--color-red-065));
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scale(0);
        transition: transform 350ms ease-in-out;
    }

    .link a:hover::after {
        transform: scale(1);
        transform-origin: center;
    } */
</style>
