<script>
    import ContactIcon from "./icons/ContactIcon.svelte";
    import KlubCajovnaIcon from "./icons/KlubCajovnaIcon.svelte";
    import SuCvutIcon from "./icons/SuCvutIcon.svelte";
</script>

<div class="contact-section">
    <h1>Kontakt</h1>
    <div class="contact-section-flex">
        <article>
            <div class="contact-flex ">
                <div class="svg-container">
                    <KlubCajovnaIcon />
                </div>
                <div>
                    <h2>Korespondenční adresa</h2>
                    <p>
                        Klub Čajovna<br />
                        Vaníčkova 315/7<br />
                        160 17 Praha-Strahov
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="contact-flex ">
                <div class="svg-container">
                    <SuCvutIcon />
                </div>
                <div>
                    <h2>Fakturační adresa</h2>
                    <p>
                        Studentská unie ČVUT<br />
                        Jugoslávských partyzánů 1580/3<br />
                        160 00 Praha 6 - Dejvice
                    </p>
                    <p>
                        IČO: 67981224 <br />
                        DIČ: CZ67981224 <br />
                        EORI: CZ67981224
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div class="contact-flex ">
                <div class="svg-container">
                    <ContactIcon />
                </div>
                <div>
                    <h2>Kontakty</h2>
                    <p>
                        E-mail: <a href="mailto:info@klubcajovna.cz">info@klubcajovna.cz</a> <br />
                        Facebook: <a href="https://facebook.com/KlubCajovna" target="_blank" rel="noreferrer">link</a> <br />
                        Instagram: <a href="https://instagram.com/KlubCajovna" target="_blank" rel="noreferrer">link</a>
                    </p>
                    <p>
                        SU ČVUT: <a href="https://su.cvut.cz/" target="_blank" rel="noreferrer">link</a>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>

<style>
    .contact-section {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
    }

    .contact-section p {
        padding: 0.5rem 0rem;
    }

    .contact-section-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contact-section-flex > * {
        text-align: left;
        flex: 1 1 25%;
        max-width: 33%;
    }

    .contact-flex {
        display: flex;
        gap: 1rem;
    }

    .svg-container {
        padding-top: 2rem;
    }

    @media only screen and (max-width: 768px) {
        .contact-section-flex {
            display: flex;
            gap: 2rem;
            flex-direction: column;
        }

        .contact-section-flex > * {
            flex: 1 1 0;
            max-width: 100%;
        }

        .svg-container {
            min-width: 80px;
        }
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    a {
        color: hsl(var(--color-grey-080));
        text-decoration: underline;
    }
</style>
