<footer>
    <section>
        <div class="footer-flex">
            <span>© {new Date().getFullYear()} Klub Čajovna</span>
            <a href="https://drive.google.com/drive/folders/1yppIhPYLsJqVjuNvkTsk_7qle0Pmni7T?usp=sharing">Dokumenty</a>
            <a href="https://su.cvut.cz/">Studentská unie ČVUT</a>
            <a href="https://facebook.com/KlubCajovna">Facebook</a>
            <a href="https://instagram.com/KlubCajovna">Instagram</a>
        </div>
    </section>
</footer>

<style>
    section {
        border-top: solid 1px hsl(var(--color-grey-080));
    }
    footer {
        margin: 4rem auto;
    }

    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 1rem;
        margin: auto;
        padding: 1rem 0.5rem;
        max-width: 1200px;
    }

    span {
        margin-right: auto;
    }

    span {
        font-size: 0.8rem;
        font-weight: 400;
    }

    a {
        font-size: 0.8rem;
        font-weight: 400;
        color: solid 1px hsl(var(--color-grey-080));
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: 768px) {
        .footer-flex {
            gap: 0.5rem;
            flex-direction: column-reverse;
            align-items: center;
        }
        span {
            margin: 1.5rem 0;
        }
    }
</style>
