<script lang="ts">
    import NavLinks from "./NavLinks.svelte";

    export let links: { path: string; title: string }[];
</script>

<header>
    <nav>
        <div class="main-header-logo">
            <img src="/logo_64x61.png" alt="main logo" height="200" />
        </div>
        <NavLinks {links} isMain={true} />
    </nav>
</header>

<style>
    .main-header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
</style>
