<script>
    import AddressIcon from "./icons/AddressIcon.svelte";
    import DormitoryIcon from "./icons/DormitoryIcon.svelte";
    import PublicTransportIcon from "./icons/PublicTransportIcon.svelte";
    import MapsEmbed from "./MapsEmbed.svelte";
</script>

<div class="location-intro-section">
    <h1>Kudy k nám</h1>
    <div class="location-intro-flex">
        <article>
            <div class="transport-flex">
                <div class="svg-container">
                    <DormitoryIcon />
                </div>
                <div>
                    <h2>Koleje Strahov</h2>
                    <p>
                        Klubové prostory se nachází v&nbsp;suterénu bloku 6&nbsp;na kolejích Strahov. Vstup je z&nbsp;východní
                        strany, mezi bloky 6&nbsp;a&nbsp;7.
                    </p>
                </div>
            </div>
            <div class="transport-flex">
                <div class="svg-container">
                    <PublicTransportIcon />
                </div>
                <div>
                    <h2>MHD spoje</h2>
                    <p>
                        Linky 176 z&nbsp;Karlova náměstí a&nbsp;191 z&nbsp;Na Knížecí na Stadion Strahov, 143 a&nbsp;149
                        z&nbsp;Vítězného náměstí na Koleje Strahov, lanová dráha Petřín z&nbsp;Újezdu na Petřín.
                    </p>
                </div>
            </div>
            <div class="transport-flex">
                <div class="svg-container">
                    <AddressIcon />
                </div>
                <div>
                    <h2>Adresa</h2>
                    <p class="address">
                        Blok 6 <br />
                        Olympijská 1902/5 <br />
                        Strahov <br />
                        169 00 Praha 6
                    </p>
                </div>
            </div>
        </article>
        <article>
            <MapsEmbed />
        </article>
    </div>
</div>

<style>
    .location-intro-section {
        max-width: 1200px;
        margin: auto;
        padding: 1rem;
    }

    .location-intro-section p {
        padding: 0.5rem 0rem;
    }

    .location-intro-flex {
        display: flex;
        gap: 2rem;
    }

    .location-intro-flex > * {
        max-width: 50%;
        flex: 1 1 0;
    }

    .transport-flex {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .svg-container {
        padding-top: 2rem;
    }

    @media only screen and (max-width: 768px) {
        .location-intro-flex {
            display: flex;
            flex-direction: column;
        }
        .location-intro-flex > * {
            max-width: 100%;
        }
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
    }
</style>
