<script lang="ts">
    import useScrollToView from "$lib/functions/useScrollToView";

    import { page } from "$app/stores";
    import { goto } from "$app/navigation";

    export let links: { path: string; title: string }[];
    export let isMain: boolean;

    async function scrollToView({ target }: any) {
        const targetId = target.getAttribute("href") as string;
        if ($page.url.pathname == "/" && targetId[0] != "/") {
            history.replaceState(null, "", targetId);
            useScrollToView(targetId);
        } else {
            await goto(targetId);
        }
    }
</script>

<ul class={isMain ? "nav-list nav-list-main" : "nav-list"}>
    {#each links as link}
        <li>
            <a href={link.path} on:click|preventDefault={scrollToView}>{link.title}</a>
        </li>
    {/each}
</ul>

<style>
    .nav-list {
        /* max-width: 1200px; */
        margin: auto;
        display: flex;
        overflow-x: auto;
        align-items: center;
        flex-wrap: nowrap;
        padding: 0.5rem 1rem;
        list-style: none;
    }

    .nav-list::-webkit-scrollbar {
        height: 8px;
    }

    .nav-list::-webkit-scrollbar-thumb {
        background-color: hsl(var(--color-grey-080));
        border-bottom: 4px solid hsl(var(--color-grey-000));
    }

    .nav-list-main {
        border-bottom: solid 1px hsl(var(--color-grey-080));
    }

    .nav-list li {
        text-align: center;
    }

    .nav-list::before,
    .nav-list::after {
        content: ""; /* Insert pseudo-element */
        margin: auto; /* Make it push flex items to the center */
    }

    .nav-list li a {
        position: relative;
        display: inline-block;
        padding: 0.5rem 1.5rem;
        margin: 0 auto;
        color: hsl(var(--color-grey-080));
        text-decoration: none;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 400;
        transition: color 250ms ease-in-out;
    }

    .nav-list li a:hover {
        color: hsl(var(--color-red-080));
    }

    .nav-list li a::after {
        content: "";
        display: block;
        position: absolute;
        background-color: hsl(var(--color-red-065));
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scale(0);
        transition: transform 350ms ease-in-out;
    }

    .nav-list li a:hover::after {
        transform: scale(1);
        transform-origin: center;
    }
</style>
