<script lang="ts">
    import useScrollToView from "$lib/functions/useScrollToView";
    import type { CalendarWeek } from "$lib/server/sheetsModels";
    import ArrowIcon from "./icons/ArrowIcon.svelte";

    export let weekData: CalendarWeek;

    let startDate = weekData[0].date;
    let endDate = weekData[6].date;

    async function scrollToCalendar(dayId: string) {
        highlightDay(dayId);
        history.replaceState(null, "", "#calendar");
        useScrollToView("#calendar");
    }

    async function highlightDay(dayId: string) {
        let calendarDay = document.getElementById(dayId);
        console.log(calendarDay);
        calendarDay?.classList.add("focused-day");
        calendarDay?.focus();
        setTimeout(() => {
            calendarDay?.classList.remove("focused-day");
        }, 2500);
    }
</script>

<div class="opening-hours-section">
    <h1>
        Otevírací doba ({startDate.slice(0, startDate.lastIndexOf(" "))} – {endDate.slice(0, endDate.lastIndexOf(" "))})
    </h1>
    <ul class="opening-hours">
        {#each weekData as day}
            <li>
                <h2>
                    {day.dayOfWeek.slice(0, 2)}:
                    {#if day.open}
                        {day.timeFrom + " – " + day.timeTo}
                    {:else}
                        zavřeno
                    {/if}
                    {#if day.type != "Služba"}
                        <a
                            title="Zobrazit událost v kalendáři"
                            href="#calendar"
                            on:click|preventDefault={() => scrollToCalendar(day.date)}
                        >
                            <ArrowIcon />
                        </a>
                    {/if}
                </h2>
            </li>
        {/each}
    </ul>
    <h3 class:visible={weekData.some((day) => day.type != "Služba")}><ArrowIcon /> koná se akce, klikni pro více informací</h3>
</div>

<style>
    .opening-hours-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    .opening-hours {
        margin: 2rem 0;
    }

    .opening-hours-section h1 {
        font-size: 1.3rem;
        /* font-weight: 300; */
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .opening-hours-section h2 {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }

    .opening-hours-section h3 {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .opening-hours-section ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
    }

    .opening-hours li {
        display: inline-block;
        /* margin: auto; */
    }

    h3 {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
</style>
