<script lang="ts">
    export let highlight: boolean;
    export let hexColor: string;
    export let title: string;
    export let subtitle: string;
    export let memberFee: string;
    export let description: string;
    export let displayFull: boolean;
</script>

<article class="product-card" style="border-left-color: {hexColor};">
    {#if displayFull}
        <div class="card-heading">
            <div class="card-heading-title">
                <h3>
                    {title}
                    {#if highlight}
                        <span class="highlight">Novinka!</span>
                    {/if}
                </h3>
                <h4>{subtitle}</h4>
            </div>
            {#if memberFee}
                <div class="card-heading-fee">
                    <h4>Příspěvek<br />{memberFee},-</h4>
                </div>
            {/if}
        </div>
        <p>
            {description}
        </p>
    {:else}
        <div class="card-heading-title">
            <h3>
                {description}
                {#if highlight}
                    <span class="highlight">Novinka!</span>
                {/if}
            </h3>
        </div>
    {/if}
</article>

<style>
    .product-card {
        background-color: hsl(var(--color-grey-015) / 0.5);
        backdrop-filter: blur(10px);
        /* border-left-color is defined in @components/ProductCard.vue because of dynamic binding */
        border-left-width: 4px;
        border-left-style: solid;
        padding: 0.5rem;
        /* padding: 0.5rem 0.5rem 1.5rem 0.5rem; */
        margin: 1.5rem 0;
        border-radius: 2px;
    }

    .card-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .card-heading-title > h3 {
        color: hsl(var(--color-grey-080));
    }

    .card-heading-title > h4,
    .card-heading-fee > h4 {
        color: hsl(var(--color-grey-050));
        font-weight: 400;
        font-style: oblique;
    }

    .card-heading-fee > h4 {
        color: hsl(var(--color-grey-050));
        text-align: right;
        font-weight: 400;
        font-style: oblique;
    }

    .highlight {
        color: hsl(var(--color-grey-015));
        background-color: hsl(var(--color-grey-080));
        font-weight: 600;
        font-size: 1rem;
        border-radius: 7px;
        padding: 1px 5px;
        margin: 0 6px;
    }
</style>
