<script lang="ts">
    import ProductCategory from "$lib/components/ProductCategory.svelte";
    import type { ProductData, LookupData } from "$lib/server/sheetsModels";

    export let lookup: LookupData | null;
    export let data: ProductData | null;
    export let displayFull: boolean;
    export let blame: string;

    // data fetching

    // data used in template
    // const products = data;
    const filteredLookup = lookup != null && data != null ? filterCategories(lookup, data) : [];

    // helper values

    // helper functions
    async function getProductData(productType: string) {
        let result: ProductData = [];

        try {
            const response = await fetch(`http://localhost:8080/menu/${productType}.json`);
            const data: ProductData = await response.json();
            result = data;
        } catch (e) {
            result = [];
        } finally {
            return result;
        }
    }

    function filterCategories(lookup: LookupData, products: ProductData) {
        const filteredLookup = lookup.filter((category) => {
            return products.some((item) => category.title === item.category);
        });
        return filteredLookup;
    }
</script>

{#if data != null && filteredLookup != null && data.length > 0 && filteredLookup.length > 0}
    {#each filteredLookup as category}
        <section class="product-category">
            <ProductCategory {category} data={data.filter((item) => item.category === category.title)} {displayFull} />
        </section>
    {/each}
{:else}
    <section class="menu-description">
        <p>Čajovna je momentálně vyčerpaná, {blame} se fláká. Požádejte obsluhu, třeba něco vymyslí ;-)</p>
    </section>
{/if}

<style>
    .product-category {
        margin: 4rem 0rem;
    }
</style>
