<script lang="ts">
    import type { ProductData, Lookup } from "$lib/server/sheetsModels";
    import ProductCard from "$lib/components/ProductCard.svelte";

    export let category: Lookup;
    export let data: ProductData;
    export let displayFull: boolean;

    function constructSubtitle(parts: string[]): string {
        if (parts.length == 0) {
            return "";
        }

        return parts.filter((part) => part.length > 0).join(", ");
    }
</script>

<h2 class="category-title">
    {category.title}
</h2>
{#each data as product}
    <ProductCard
        highlight={product.highlight}
        hexColor={category.hexColor}
        title={product.title}
        subtitle={constructSubtitle([product.subtitle, product.year, product.region, product.country])}
        memberFee={product.memberFee}
        description={product.description}
        {displayFull}
    />
{/each}
