<p>
    Chcete rezervovat místo v klubu? Napište nám na
    <a href="https:/facebook.com/KlubCajovna">Facebook</a>
    nebo na
    <a href="mailto:reservation@klubcajovna.cz">E-mail</a>.
</p>

<style>
    p {
        font-size: 1rem;
        font-weight: 400;
    }

    p a {
        color: hsl(var(--color-red-080));
        color: hsl(var(--color-grey-080));
        text-decoration: underline;
    }
</style>
