<script lang="ts">
    import { page } from "$app/stores";

    import useScrollToView from "$lib/functions/useScrollToView";

    let y = 0;

    function scrollToView({ target }: any) {
        const targetId = target.getAttribute("href") as string;

        if ($page.url.pathname == "/") {
            history.replaceState(null, "", "/");
            useScrollToView(targetId);
        }
        useScrollToView(targetId);
    }
</script>

<svelte:window bind:scrollY={y} />

{#if y != 0}
    <!-- svelte-ignore a11y-missing-content -->
    <a href="#top" class="scroll-to-top-button" on:click|preventDefault={scrollToView} />
{/if}

<style>
    .scroll-to-top-button {
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: hsl(var(--color-grey-090))
            url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E")
            center no-repeat;
    }
</style>
